.nav-bar{
	width: auto;
	position: relative;
    /*background-color: red; */
    height: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#refreshBtn{
	float: left; 
	width: 65px;		
	padding-left: 24%;
}

#refreshBtn .refresh-button{
	font-size: 30px;
}

#title{
	display:block;
	width: 250px;
	margin: 0 auto;
	padding-left: 43%;
	padding-right: 43%;
	/*text-decoration: underline;*/
	font-size: 200%;

}

#unmerge{
	display: inline-block;
	width:65px;
	float:right;
	padding-right: 27%;
	margin-top: -35px;
	font-size: 35px;
	color:black;
}
