/*Navigation Bar*/
.nav-bar {
	background-color: rgb(192,147,63);
	width: auto;
	text-align: center;
	height: 100px;
	position: relative;
	height:100px;
    margin: 80px;
    margin-top: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.nav-bar #refreshBtn {
	float:left;
	width:122px;
	height: 60px;
	margin-top: 36px;
	margin-left: 20px;	
}

.nav-bar #refreshBtn .refresh-button {
	font-size: 30px;
}

.nav-bar #title {
	display:inline-block;
	width: 250px;
	margin: 0 auto;
	height: 60px;
	margin-top: 36px;
	font-size:200%;
}

.nav-bar #merge {
	width:140px;
	height: 60px;
	float:right;
	margin-top: 36px;
	margin-right: 20px;	
}

.nav-bar #merge #mergebtn {
	font-size: 30px;
}

.content {
	width: 1024px;
	height: 1130px;
	background-color: green; 
	margin:auto;
}

/*ImageUpload*/
.content .top-container{
	position: absolute;
	width:1024px;
	height: 500px;
}
.content .top-container #SingleImageContainer {
	position: absolute;
	background-color: blue;
	right:26%;
	width: 480px;
	height: 520px;
}

.content .top-container #SingleImageContainer .image-upload{
	height:480px;
}

.content .top-container #SingleImageContainer .image-upload .error-box {
	width:480px;
	height:50px;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	color:white;
	text-align: center;
}
.content .top-container #SingleImageContainer .image-upload .button-container {
 	height: 48px;
}

.content .top-container #SingleImageContainer .image-upload .button-container .image-btn {
 	font-size: 30px;
 	width: 240px;
 	height: 48px; 
	float: left;
}

.content .top-container #SingleImageContainer .image-upload .button-container .url-btn {
 	font-size: 30px;
 	width: 240px;
 	height: 48px; 
 	float: right;
}

.content .top-container #SingleImageContainer .image-upload .image-container {
	width:480px;
	height: 480px;
 	margin-left: auto;
 	margin-right: auto;
}

.content .top-container #SingleImageContainer .image-upload .image-container .single input{
	
	padding-left: 32%;
	width: 170px;
}

.content .top-container #SingleImageContainer .image-upload .image-container .url-reader {
	width: 245px;
	margin-left: auto;
 	margin-right: auto;
}

.content .top-container #SingleImageContainer .image-upload .image-container input {
 	width: 248px;
 	margin-top: 170px;
 	font-size: 25px;
}

.content .top-container #SingleImageContainer .image-upload .image-container .url-reader button {
	font-size: 25px;
	width:252px;
	height: 35px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.content .top-container #SingleImageContainer .image-upload .image-container .viewer {
	width: 480px;
	height: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    display: block; 
    	 
}

.content .top-container #SingleImageContainer .image-upload .image-container .viewer canvas {
    /*position: static;*/
    overflow: auto;
    padding-top: 20%;
    padding-left: 22%;

}

.content .top-container #SingleImageContainer .image-upload .image-container .viewer .uploadBtn {
	position: absolute;
	top: 50%;
	left: calc(40%);
}

/*unmerge-button*/
.content .mid-container {
	padding-top: 53%;
	height:98px;
	width:1024px;
}
.content .mid-container #btnUnmergeContainer {
	width:1024px;
	padding-top: 2.5%;
}

.content .mid-container #btnUnmergeContainer .unmerge-button {
	margin-left: 44%;
	font-size: 30px;
	width:140px;
	height: 50px;
}

/*UnmergeContainer -- bot-container*/
.content .bot-container {
	width:1024px;
	height: 500px;
}

.content .bot-container #imageUnmergeFirst {
	width:480px;
	height:480px;
	float:left;
	overflow: auto;

}
.content .bot-container #imageUnmergeFirst canvas {
	overflow: auto;
    padding-left: 20%;
    padding-top: 20%;
	
}

.content .bot-container #imageUnmergeSecond {
	width:480px;
	height:480px;
	float:right;
	overflow: auto;
}

.content .bot-container #imageUnmergeSecond canvas {
	overflow: auto;
    padding-left: 20%;
    padding-top: 20%;
}

.bot-container #imageUnmergeFirst .download-btn {
	position: absolute;
	top: 153%;
	left: calc(34%);
} 

.content .bot-container #imageUnmergeSecond .download-btn {
	position: absolute;
	top: 153%;
	left: calc(63%);
} 